@inherits LayoutComponentBase

<PageTitle>LundqvistForms</PageTitle>

<div class="page">
    <!--<div class="sidebar">
        <NavMenu />
    </div>-->

    <main>
        <div class="top-row px-4" style="background-color: rgb(40, 40, 40)">
            <button class="btn btn-warning">About</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
